.chaptersList {
  font-family: var(--sans-serif-font);
  font-weight: 400;
}
.chaptersList > a:hover {
  background: red;
}

.chapterListDraggable {
  display: grid;
  place-items: center;
  width: 100%;
  padding: 0.5rem;
  grid-template-columns: 1fr auto auto;
  gap: 0.75rem;
  height: 2rem;
  max-height: 2rem;
}

.chapterTitle {
  width: min(20ch, 100%);
  justify-self: start;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}

.chapterListDraggable:hover {
  cursor: grab;
  background: var(--background-darker);
}
.chapterListDraggable:active {
  cursor: grabbing;
  transform: translate(1px, 1px);
}
.chapterListDraggable:active .draggableIcon {
  cursor: grabbing;
  font-weight: bold;
  color: black;
}

.darken {
  background: var(--background-darker);
  filter: brightness(80%);
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons button:hover {
  cursor: pointer;
  filter: saturate(120%) brightness(110%);
}
.buttons button:active {
  transform: translate(1px, 1px);
  filter: saturate(80%) brightness(80%);
}

.updateButton {
  border: none;
  background: none;
  color: var(--success-color);
  font-size: 2rem;
}

.resetButton {
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--error-color);
}
