.genreList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.genreCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary);
  color: var(--background-lighter);
  border-radius: 5px;
}
.genreName {
  padding-inline: 0.5rem;
}

.deleteButton {
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  border-left: 1px solid var(--background-lighter);
  background: var(--secondary);
  color: var(--background-lighter);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.deleteButton:hover {
  font-weight: bold;
  cursor: pointer;
  background: var(--secondary-darker);
}

.deleteButton:active {
  transform: translate(1px, 1px);
}

.genreEditor {
  padding-block: 1rem;
}
.selectArea {
  display: grid;
  margin-block: 1rem;
}

.genrePicker {
  font-size: 1rem;
  padding: 0.25rem;
  background: var(--background-lighter);
  border: 2px solid var(--secondary);
  color: var(--secondary);
}
