.featured-authors {
  background-color: #f5f5f5;
  padding: 50px 0;
  text-align: center;
}

.featured-authors-header {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #9b59b6;
}

.featured-authors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 10px;
}

.featured-author-card {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  margin: 15px 10px;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .featured-author-card {
    width: 250px;
  }
}

.featured-author-card:hover {
  transform: translateY(-10px);
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.featured-author-card:hover .card-overlay {
  opacity: 1;
}

.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.8rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.author-img {
  width: 200px;
  height: 230px;
  border-radius: 50%;
  margin: 0 auto 20px;
}
