.messageQueue {
  position: absolute;
  top: 0;
  right: 1rem;
  overflow: hidden;
}

.messageQueue a {
  text-decoration: underline;
}

.message {
  position: absolute;
  margin: 1rem;
  margin-left: 2rem + 25px;
  background: var(--background-lighter);
  border: 1px solid var(--text);
  border-left: 8px solid var(--text);
  padding: 0.75rem;
  width: 18rem;
  height: auto;
  max-height: 8rem;
  position: relative;
  font-weight: 500;
  color: var(--text);
  transition: opacity 500ms;
  animation: 0.3s ease-out 0s 1 slideInFromRight;
  overflow: hidden;
}

.fadeOut {
  opacity: 0;
}

@keyframes slideInFromRight {
  0% {
    right: 100%;
    transform: translateX(400%);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    right: 0;
    transform: translateX(0);
  }
}

.message p {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  max-width: 15rem;
}

.error {
  border: 1px solid var(--error-color);
  border-left: 8px solid var(--error-color);
  color: var(--error-color);
}
.success {
  border: 1px solid var(--success-color);
  border-left: 8px solid var(--success-color);
  color: var(--success-color);
}

.removeButton {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  font-size: 1.5rem;
  margin: 4px;
  text-align: right;
}
.error .removeButton {
  color: var(--error-color);
}
.success .removeButton {
  color: var(--success-color);
}
.removeButton:hover {
  cursor: pointer;
  color: var(--accent);
}

.success .removeButton:hover,
.error .removeButton:hover {
  color: var(--text);
}
