.landing-page {
  background-color: var(--background-lighter);
  display: grid;
  color: black;
  position: relative;
}

.landing-page-logo {
  position: absolute;
  width: 100px;
  z-index: 9999;
}

.landing-page-main-logo {
    left: 10px
}

.landing-page-browse-book {
  right: 1%;
  top: 10px;
  width: 100px !important;
}

.landing-page-intro {
  position: relative;
  height: 800px;
  background: url("./Images/LandingPageIntroBackground.png");
  background-size: cover;
}

.landing-page-intro-title {
    position: absolute;
    top: 35%;
    left: 10%;
}

.landing-page-intro-btn {
    height: 40px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
}

.landing-page-sign-btn {
    margin-top: 15px;
    height: 60px;
    width: 140px;
    font-size: 25px;
}

.sign-in {
  border: 0px;
  background-color: transparent;
  color: var(--text);
}

.landing-page-intro-description {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.landing-page-break-line {
  border: 1px solid black;
}

.landing-page-feature {
  background-color: #bfd1f8;
}

.landing-page-feature-title {
  text-align: center;
  padding-top: 30px;
}

.landing-page-feature-title h1 {
  margin: 0;
}

.landing-page-feature-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.landing-page-footer {
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}
