.bookImage {
  display: none;
}

.date {
  display: none;
}

.chapterList {
  padding-block: 2rem;
}

.chapterListRow {
  display: grid;
  grid-template-columns: auto 1fr auto 25px;
  width: 100%;
  border-bottom: 1px dotted var(--background-slightly-darker);
}

.chapterListRow * {
  padding: 0.5rem;
}

.readNowButton {
  display: none;
}

@media (min-width: 1200px) {
  .date {
    display: initial;
  }
  .chapterList {
    padding-block: 3rem;
  }

  .chapterListRow {
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: 35px 35px 1fr auto auto 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

  .chapterListRow a {
  }
  .header {
    font-size: 1rem;
    color: var(--secondary);
  }

  .chapterListRow:hover {
    background: var(--background);
  }

  .bookImage {
    display: initial;
    aspect-ratio: 6/9;
    width: 35px;
  }

  .chapterTitle {
    display: block;
    display: grid;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
  }

  .updateButton {
    border: none;
    background: var(--success-color);
    color: var(--background-lighter);
  }

  .readNowButton {
    height: 2rem;
    display: inline-block;
    place-content: center;
    text-align: center;
    background: var(--primary);
    color: var(--background-lighter);
    font-size: 1rem;
    padding-inline: 1rem;
    padding-block: 0.25rem;
  }

  .readNowButton:hover {
    cursor: pointer;
    background: hsl(222, 36%, 43%);
  }
}
